<span style="text-align: center">
  <form method="POST">
    <textarea id="a0" name="a0" placeholder="Sepal Length">{{ a0 }}</textarea>
    <textarea id="a1" name="a1" placeholder="Sepal Width">{{ a1 }}</textarea
    ><br />
    <textarea id="a2" name="a2" placeholder="Petal Length">{{ a2 }}</textarea>
    <textarea id="a3" name="a3" placeholder="Petal Width">{{ a3 }}</textarea
    ><br />
    <input name="판정" type="submit" />
  </form>
</span>
<p style="text-align: center">이 꽃은</p>
<h1 style="text-align: center">{{ result }}</h1>
<p style="text-align: center">입니다.</p>
